Xbox One S Controller

North: 3
West: 2
South: 0
East: 1

Share: 6
Options: 7
Home: 8

L1: 4
R1: 5
L3: 9
R3: 10

L2 Axis: 2
R2 Axis: 5
LS X Axis: 0
LS Y Axis: 1
RS X Axis: 3
RS Y Axis: 4

Hat: 0

END

Sony Interactive Entertainment Wireless Controller

North: 2
West: 3
South: 0
East: 1

Share: 8
Options: 9
Home: 10

L1: 4
R1: 5
L3: 11
R3: 12

L2 Axis: 2
R2 Axis: 5
LS X Axis: 0
LS Y Axis: 1
RS X Axis: 3
RS Y Axis: 4

Hat: 0

END